body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url('Imagem.png');
    background-size: cover;
    background-position: center;
    color: black;
    height: 100vh;
    margin: 0;
}


.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; 
    height: 100vh; 
    padding-bottom: 250px; 
}


.botoes {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); 
}


.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #165c18;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

.btn:hover {
    background: #45a049;
}

recuperar-container h2 {
  color: white;
  margin-bottom: 10px;
  letter-spacing: 2px;
}


login-container h2 {
  color: white;
  margin-bottom: 25px;
  letter-spacing: 2px;
}


#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 350px;
}

#loginForm input {
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}


#recuperarForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 350px;
}

#recuperarForm input {
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}



cadastro-container h2 {
  color: white;
  margin-bottom: 25px;
  letter-spacing: 2px;
}


#cadastroForm {
  display: inline-block;
  align-items: center;
  margin-top: 200px;
}

#cadastroForm input {
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}


canvas {
    background: black;
    display: inline-block;
    margin-top: 30px;
    margin: 20px auto;
    border: 2px solid #fff;
}

.body.index {
    background-image: url('Imagem.png');
}


.body.jogo {
    margin-top: 50px;
    display: inline-block;
}


p {
    font-size: 18px;
    color: white;
    display: inline-block;
}


.sobre-container {
    display: flex;
    flex-direction: column;
    align-items: center;        
    justify-content: center;    
    text-align: center;
    height: 90vh;
    color: white;               
    background-color: #000;     
    padding: 15px;
    border-radius: 15px;        
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8); 
    max-width: 700px;
    margin: 0 auto;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.sobre-container ul {
    list-style: none;
    padding: 0;
    margin: 90px 0;
}

.sobre-container li {
    margin-bottom: 5px;
}



.container-jogo {
    display: flex;
    flex-direction: column;      
    align-items: center;         
    justify-content: center;     
    height: 100vh;               
    width: 100%;
}


canvas {
    background: black;
    display: block;
    margin: 0 auto;
    border: 2px solid #fff;
}


.info-jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


#pontuacao {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}


.botoes-jogo {
    display: flex;
    justify-content: center;
    gap: 15px;                   
}